/* productos */

.productostitulo {
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(224, 241, 214);
  }
  
  .btn-color {
    color: rgb(246, 248, 248);
    background-color: rgb(4, 192, 4);
    padding: 10px 10px;
  }
  
  .card {
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* footer */
  
  .pie {
    background-color: #646060;
    color: #fff;
    padding: 20px 0;
  }
  